## Create a simple calculator that can perform basic arithmetic operations: addition, subtraction, multiplication, and division.

In [1]:
class Calculator:
    def add(self, x, y):
        return x + y

    def subtract(self, x, y):
        return x - y

    def multiply(self, x, y):
        return x * y

    def divide(self, x, y):
        if y == 0:
            return "Error! Division by zero."
        return x / y

In [3]:
def main():
    calc = Calculator()
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    
    choice = input("Enter choice (1/2/3/4): ")
    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        print("Operation number: ",choice)
        print("first number: ",num1)
        print("second number: ",num2)
        
        if choice == '1':
            print("Result:", calc.add(num1, num2))
        elif choice == '2':
            print("Result:", calc.subtract(num1, num2))
        elif choice == '3':
            print("Result:", calc.multiply(num1, num2))
        elif choice == '4':
            print("Result:", calc.divide(num1, num2))
    else:
        print("Invalid input")

In [4]:
main()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  3
Enter first number:  438
Enter second number:  23

Operation number:  3
first number:  438.0
second number:  23.0
Result: 10074.0

In [9]:
main()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  4
Enter first number:  67
Enter second number:  4

Operation number:  4
first number:  67.0
second number:  4.0
Result: 16.75

In [11]:
main()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  1
Enter first number:  894354
Enter second number:  3943

Operation number:  1
first number:  894354.0
second number:  3943.0
Result: 898297.0

In [13]:
main()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  2
Enter first number:  456
Enter second number:  23

Operation number:  2
first number:  456.0
second number:  23.0
Result: 433.0