# Variables and their importance

#### Practical example

In [5]:
# Assigning and modifying variables

In [7]:
#1. Assigning Variables
# Assigning means giving a value to a variable.
x = 10       # assigns the value 10 to variable x
name = "John"  # assigns the string "John" to variable name

In [9]:
# 2. Modifying Variables
# Modifying means changing the value of an existing variable.
x = 10
x = x + 5    # Now x becomes 15

In [11]:
x += 5    # Same as x = x + 5
x -= 3    # Same as x = x - 3
x *= 2    # Same as x = x * 2
x /= 4    # Same as x = x / 4

In [13]:
# 3. Multiple Assignment 
# assign multiple variables at once:

a, b, c = 1, 2, 3
x = y = z = 0

In [15]:
#  4. Variable Reassignment
# A variable can change its value and type (in dynamically typed):
var = 5
var = "hello"  # Now var holds a string

In [17]:
# 5. Constants
# Some variables are assigned once and never changed. These are called constants (usually written in uppercase):
PI = 3.14159

#### EXERCISE

In [20]:
#Simple arithmetic and string manipulations

In [22]:
#  1. Simple Arithmetic
# basic operations using numbers.

a = 10
b = 3

print(a + b)   # 13
print(a * b)   # 30
print(a % b)   # 1

13
30
1

In [24]:
#  2. String Manipulations
# Concatenation (Joining Strings):
first = "Hello"
last = "World"
greeting = first + " " + last
print(greeting)   # Hello World

Hello World

In [26]:
# Repetition:
echo = "Hi! " * 3
print(echo)       # Hi! Hi! Hi!

Hi! Hi! Hi!

In [28]:
#Indexing:
text = "Python"
print(text[0])    # 'P'
print(text[-1])   # 'n'

P
n

In [30]:
# Slicing:

print(text[1:4])  # 'yth'
print(text[:3])   # 'Pyt'
print(text[3:])   # 'hon'

yth
Pyt
hon

In [32]:
# Changing Case:
name = "alice"
print(name.upper())  # 'ALICE'
print(name.capitalize())  # 'Alice'

ALICE
Alice

In [34]:
#Finding & Replacing:
msg = "I love coding"
print(msg.replace("love", "like"))  # I like coding
print(msg.find("coding"))  # 7 (starting index)

I like coding
7

In [36]:
# Converting Between Strings and Numbers
age = "25"
new_age = int(age) + 1
print(new_age)  # 26

num = 10
print("Score: " + str(num))  # Score: 10

26
Score: 10

# Data types: int, float, string, list, dict

#### Practical example

In [40]:
# Performing operations with integers, floats, and strings

In [42]:
# 1. Operations with Integers (int)
# Integers are whole numbers like 10, -5, 100.
a = 10
b = 3

print(a + b)    # 13 (addition)
print(a - b)    # 7  (subtraction)
print(a * b)    # 30 (multiplication)
print(a / b)    # 3.333... (division â†’ float)
print(a // b)   # 3 (floor division)
print(a % b)    # 1 (modulus: remainder)
print(a ** b)   # 1000 (exponentiation: 10^3)

13
7
30
3.3333333333333335
3
1
1000

In [44]:
# 2. Operations with Floats (float)
# Floats are decimal numbers like 3.14, -2.5.
x = 5.5
y = 2.0

print(x + y)    # 7.5
print(x - y)    # 3.5
print(x * y)    # 11.0
print(x / y)    # 2.75
print(x // y)   # 2.0 (floor division)
print(x % y)    # 1.5
print(x ** y)   # 30.25 (5.5^2.0)

7.5
3.5
11.0
2.75
2.0
1.5
30.25

In [46]:
# 3. Operations with Strings (str)
# Strings are sequences of characters in quotes like "Hello" or 'Python'.

# String Concatenation (Joining)

a = "Hello"
b = "World"
print(a + " " + b)

# String Repetition

print("Hi! " * 3)

# Accessing Characters (Indexing)

text = "Python"     
print(text[-1])  

# Slicing Strings

print(text[1:4])   # 'yth'
print(text[:3])    # 'Pyt'
print(text[3:])    # 'hon'

# Useful String Methods

msg = "hello python"
print(msg.upper())        # 'HELLO PYTHON'
print(msg.replace("python", "world"))  # 'hello world'
print(len(msg))

Hello World
Hi! Hi! Hi!
n
yth
Pyt
hon
HELLO PYTHON
hello world
12

#### EXERCISE

In [49]:
# Create a dictionary to store personal details

# Creating a dictionary
personal_details = {
    "name": "John Doe",
    "age": 25,
    "email": "john.doe@example.com",
    "phone": "9876543210",
    "city": "New York"
}

# Accessing values
print("Name:", personal_details["name"])
print("Age:", personal_details["age"])
print("Email:", personal_details["email"])

Name: John Doe
Age: 25
Email: john.doe@example.com

In [51]:
# Adding or Modifying Details

# Modify existing value
personal_details["age"] = 26

# Add new key-value pair
personal_details["country"] = "USA"

# Print updated dictionary
print(personal_details)

{'name': 'John Doe', 'age': 26, 'email': 'john.doe@example.com', 'phone': '9876543210', 'city': 'New York', 'country': 'USA'}

In [53]:
# Useful Dictionary Methods

print(personal_details.keys())     # View all keys
print(personal_details.values())   # View all values
print(personal_details.items())    # View key-value pairs

dict_keys(['name', 'age', 'email', 'phone', 'city', 'country'])
dict_values(['John Doe', 26, 'john.doe@example.com', '9876543210', 'New York', 'USA'])
dict_items([('name', 'John Doe'), ('age', 26), ('email', 'john.doe@example.com'), ('phone', '9876543210'), ('city', 'New York'), ('country', 'USA')])

# Typecasting (conversions between types)

#### Practical example

In [57]:
# Creating and accessing elements in lists and dictionaries

In [59]:
#  1. Lists in Python
# A list is an ordered collection that can hold items of any data type.

In [61]:
#Creating a List
# List of strings
fruits = ["apple", "banana", "cherry"]

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Mixed data types
person = ["Alice", 25, "Engineer"]

In [63]:
# Accessing List Elements
print(fruits[0])    # 'apple'
print(fruits[1])    # 'banana'
print(fruits[-1])

apple
banana
cherry

In [65]:
#Modifying List Elements
fruits[1] = "orange"
print(fruits)  # ['apple', 'orange', 'cherry']

['apple', 'orange', 'cherry']

In [67]:
#List Operations
fruits.append("grape")         # Add to end
fruits.insert(1, "kiwi")       # Insert at index 1
fruits.remove("apple")         # Remove by value
print(fruits)

['kiwi', 'orange', 'cherry', 'grape']

In [69]:
#2. Dictionaries in Python
# A dictionary is an unordered collection of key-value pairs.

In [71]:
#Creating a Dictionary
student = {
    "name": "Rahul",
    "age": 21,
    "branch": "Computer Science"
}

In [73]:
#Accessing Dictionary Elements
print(student["name"])      # 'Rahul'
print(student.get("age"))   # 21

Rahul
21

In [75]:
# Modifying and Adding Elements
student["age"] = 22               # Modify existing
student["email"] = "rahul@example.com"  # Add new key
print(student)

{'name': 'Rahul', 'age': 22, 'branch': 'Computer Science', 'email': 'rahul@example.com'}

In [77]:
# Dictionary Operations

print(student.keys())      # dict_keys(['name', 'age', 'branch', 'email'])
print(student.values())    # dict_values([...])
print(student.items())     # dict_items([...])

dict_keys(['name', 'age', 'branch', 'email'])
dict_values(['Rahul', 22, 'Computer Science', 'rahul@example.com'])
dict_items([('name', 'Rahul'), ('age', 22), ('branch', 'Computer Science'), ('email', 'rahul@example.com')])

In [79]:
#List of Dictionaries 
students = [
    {"name": "Alice", "age": 20},
    {"name": "Bob", "age": 22}
]

print(students[0]["name"])  # Alice
print(students[1]["age"])   # 22

Alice
22

#### Exercise

In [121]:
# Convert data types (e.g., string to integer)

In [81]:
 #1. String to Integer

age_str = "25"
age_int = int(age_str)      # Convert string to int

print(age_int + 5)          # 30

30

In [83]:
# 2. Integer to String
score = 90
score_str = str(score)      # Convert int to string

print("Your score is " + score_str)  # Your score is 90

Your score is 90

In [85]:
# 3. String to Float
price_str = "19.99"
price_float = float(price_str)

print(price_float + 5)      # 24.99

24.99

In [87]:
# 4. Float to Integer (removes decimal part)
value = 3.75
value_int = int(value)

print(value_int)

3

In [93]:
# 5. Integer to Float

num = 10
num_float = float(num)

print(num_float)

10.0

In [95]:
 # 6. Boolean to Integer/String
flag = True
print(int(flag))            
print(str(flag))

1
True