## **Create a SQL-based warehouse using Delta Lake.**

In [0]:
%sql
CREATE DATABASE IF NOT EXISTS hr_warehouse;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS employee1 (
  employee_id     INT,
  first_name      STRING,
  last_name       STRING,
  email           STRING,
  phone_number    STRING,
  hire_date       DATE,
  job_id          STRING,
  salary          INT,
  manager_id      INT,
  department_id   INT
)
USING DELTA;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS department (
  department_id   INT,
  department_name STRING,
  manager_id      INT
)
USING DELTA;

In [0]:
%sql
INSERT INTO employee1 VALUES 
(100, 'Steven', 'King', 'SKING', '515.123.4567', '2003-06-17', 'AD_PRES', 24000, NULL, 90),
(101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '2005-09-21', 'AD_VP', 17000, 100, 90),
(102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '2001-01-13', 'AD_VP', 17000, 100, 90);

INSERT INTO department VALUES
(90, 'Executive', 100),
(60, 'IT', 103);

num_affected_rows,num_inserted_rows
2,2

In [0]:
%sql
-- Get average salary per department
SELECT department_id, AVG(salary) AS avg_salary
FROM employee1
GROUP BY department_id;

-- Join employee with department info
SELECT 
  e.first_name,
  e.last_name,
  d.department_name,
  e.salary
FROM employee1 e
JOIN department d
  ON e.department_id = d.department_id;

first_name,last_name,department_name,salary
Steven,King,Executive,24000
Steven,King,Executive,24000
Neena,Kochhar,Executive,17000
Neena,Kochhar,Executive,17000
Lex,De Haan,Executive,17000
Lex,De Haan,Executive,17000
Steven,King,Executive,24000
Steven,King,Executive,24000
Neena,Kochhar,Executive,17000
Neena,Kochhar,Executive,17000
Lex,De Haan,Executive,17000
Lex,De Haan,Executive,17000

In [0]:
%sql
-- View historical versions
DESCRIBE HISTORY employee1;

-- Query an older version
SELECT * FROM employee1;

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,null,90
101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,100,90
102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,100,90
100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000,null,90
101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000,100,90
102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000,100,90